.header {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  /* height: 80px; */
  box-sizing: border-box;
  padding: 15px;
  font-size: 1rem;
  color: #2e2525;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}

.navbar > .menu-icon {
  color: #2e2525;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: none;
}

.navbar ul > li {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 10px;
}
.navbar ul > li:hover {
  color: #2e6ff2;
  background-color: #e6e1e1;
}

.btn-control {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.content {
  /* height: calc(100vh - 200px); */
  padding: 10px;
  margin-top: 85px;
  display: flex;
  gap: 15px;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* width: 100%; */
  width: 1224px;
  margin: 0 auto;
}

.main-content.main-form {
  min-width: 320px;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 30px;
  /* border: 1px solid; */
}

.main-content .title {
  text-align: center;
  margin: 0;
}
.footer {
  box-sizing: border-box;
  /* height: 160px; */
  background-color: #f5f5f5;
  padding: 15px;
  position: relative;
}
.footer .company {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.7rem;
  color: #666666;
  margin-bottom: 20px;
}

.footer .copyright {
  font-size: 0.7rem;
  color: #333333;
}

.btn-signin,
.btn-signup {
  padding: 3px;
  background-color: white;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
}
.btn-signin:hover,
.btn-signup:hover {
  text-decoration: underline;
}
.btn-signin {
  color: #2e6ff2;
}

.btn-signup {
  color: #29363d;
}

.btn-top-menu {
  display: none;
}

.sidebar {
  display: none;
}

.btn-ad {
  padding: 0;
  border: none;
}

@media (min-width: 768px) {
  .header {
    gap: 40px;
  }

  .navbar > .menu-icon {
    display: none;
  }

  .navbar ul {
    display: inline-flex;
    gap: 30px;
  }

  .footer {
    width: 100%;
    /* position: fixed;
    bottom: 0; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
  }

  .footer .company {
    flex-direction: row;
    gap: 10px;
  }

  .btn-control {
    gap: 10px;
  }

  .btn-signin,
  .btn-signup {
    padding: 8px 12px;
    background-color: #eeeeee;
    font-size: 1rem;
    border-radius: 20px;
  }
  .btn-signin:hover,
  .btn-signup:hover {
    background-color: #2e6ff2;
    color: #d9d9d9;
    text-decoration: none;
  }

  .btn-top-menu {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    position: fixed;
    bottom: 50px;
    right: 100px;
    border: none;
    border-radius: 50%;
    font-size: 0.6rem;
    z-index: 1200;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sidebar img {
    width: 124px;
    height: 171px;
  }
}
